/* src/styles/Navbar.css */
nav {
    background: linear-gradient(to right, #ac38e1, #9b59b6);
    position: relative;
  }
  
  .bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #3498db, #9b59b6);
    z-index: -1;
    border-bottom-left-radius: 50%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 30px;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
  }
  
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #ecf0f1;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .logo-text {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    ul {
      flex-direction: column;
      align-items: self-start;
      background: linear-gradient(to right, #3498db, #9b59b6);
      position: absolute;
      top: 64px;
      right: 0;
      width: 100%;
      padding: 1rem;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
    }
  
    li {
      margin: 10px 0;
    }
  }
  